.table-container {
    overflow-x: auto;
    max-width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .table {
    width: 50%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 0;
    padding: 0;
    table-layout: fixed;
    overflow: hidden;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    text-align: left;
    border: 1px solid #dee2e6;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .table th {
    font-weight: bold;
    background-color: #f7fafc;
  }
  .content-container {
    margin-left: 20px;
  }
  